
.conatiner{
    min-height: 100vh;  
    text-align: center; 
    
}

.termsContainer{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.termsTitle{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
}

.editTerms{
    margin: auto;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  background-color:rgb(0, 21, 41);
  width: 100px;
    
}


/*.editTerms:hover{
    background-color: #255C92;
    border: 2px solid #255C92;
    color: white;
}*/

.termsContainerData{    
    display: flex;
    font-size: 12;
    justify-content: flex-end;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #255C92;
    background-color: '#CFCFCF'
}

.termsData{
    color: #255C92;
    font-size: 16px;
    font-family: sans-serif;
    background-color: '#CFCFCF'
}


.ant-modal-title{
    margin-top: 0;
    text-align: center !important;
    color: #26a69a !important;
    }
    .ant-btn-primary{
    margin-left: 100px;
    font-weight: bold;
    height: 40px !important;
    background: #26a69a !important;
    border:1px solid #26a69a
    }
    .add-btn{
    width: 96%;
    margin-left: 12px !important;
    }
    .ant-form-item-control {
        width: 100% !important;
    }
    .ant-select-selection--single {
        height: 40px !important;
    }
    .ant-select-selection-selected-value{
        margin-top: 2px !important;
        font-size: 15px !important;
    }
    .anticon-plus{
        font-size: 20px;
        font-weight: bold;
    }
    .ant-upload{
        width: 100% !important;
    }
    .controller-icon {
        cursor: pointer;
        margin: 5px !important;
        color: #26a69a !important;
        font-size: 18px;
    }
    div > img {
        border-radius: 50%;
    }

    .ant-skeleton-content > ul{
        display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }