.card-content{
    max-height: 100% !important;
}
.login{
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-field,.chekbox-field,.button-field{
    border: 0px;
    box-shadow: none !important;
    
}

.row .col.m2{
    padding: 0px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
   
}
.row-form{
    margin-top: 0px
}
.row .col.s12 {

    margin-left: 30px !important;
    margin-right: 30px !important;
}

.title{
    height: 100px;
    padding: 0px;
    width: 100%;
    text-align: center;
    background: #26a69a;
    color: #fff;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}
h2{
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 800px){
    .login{
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px;
    }
}
@media screen and (max-width: 550px){
    .login{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px;
    }
    
}
.dash-table {
    margin-left: 0px !important; 
    margin-right: 0px !important; 
}
.dashboard-table{
    box-shadow: 1px 0px 3px -1px #333 !important;
    height: 250px !important;
   
    overflow-y: scroll
}
td, th {
    text-align: center !important;
}
h5{
    text-align: left
}
input{
    color: #000 !important
}
label{
    font-size: 18px !important
}
.lab{
    font-size: 13px !important;
    display: inline;
}
.btn-large{
    margin: 20px;
    margin-right: 20px;
    color: #fff !important;
    font-weight:bold
}
.spcial{
    font-size: 30px;
    margin-top: 0px !important; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px !important;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.edit{
    background-color: green !important;
    font-size: 18px;
    font-weight: 800;
}
.row a{
    font-size: 16px
}
.delete{
    background-color: red !important
}
.warning{
    background-color: rgb(212, 158, 10) !important
}
.row > .carousel {
    padding: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 0px 0px !important;
    margin-top: -50px !important;
    height: 390px;
    background: #679c8a !important;
}


::-webkit-file-upload-button {
    background-color: white;
    width: 140px;
    height: 40px;
    border-radius: 7px;
    color: blue;
    
  }

  .row i {
    font-size: 30px;
    margin-top: 0px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
/*.initialized{
    margin: 15px
}*/
.btn-large i {
    font-size: 25px;
    margin-top: -5px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.conatiner{
    min-height: 100vh;  
    text-align: center; 
    
}

.termsContainer{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 30, 54);
    border-radius: 5px;
   

}

.termsTitle{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
}

.editTerms{
    margin: auto;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 21, 41);
    
}


/*.editTerms:hover{
    background-color: #255C92;
    border: 2px solid #255C92;
    color: white;
}*/

.termsContainerData{    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #255C92;
    background-color: #CFCFCF;
    border-radius: 5px;
}

.termsData{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    padding:20px
}


.ant-modal-title{
    margin-top: 0;
    text-align: center !important;
    color: #26a69a !important;
    }
    .ant-btn-primary{
    margin-left: 100px;
    font-weight: bold;
    height: 40px !important;
    background: #26a69a !important;
    border:1px solid #26a69a
    }
    .add-btn{
    width: 96%;
    margin-left: 12px !important;
    }
    .ant-form-item-control {
        width: 100% !important;
    }
    .ant-select-selection--single {
        height: 40px !important;
    }
    .ant-select-selection-selected-value{
        margin-top: 2px !important;
        font-size: 15px !important;
    }
    .anticon-plus{
        font-size: 20px;
        font-weight: bold;
    }
    .ant-upload{
        width: 100% !important;
    }
    .controller-icon {
        cursor: pointer;
        margin: 5px !important;
        color: #26a69a !important;
        font-size: 18px;
    }
    div > img {
        border-radius: 50%;
    }

    .ant-skeleton-content > ul{
        display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }
