
.ant-modal-title{
margin-top: 0;
text-align: center !important;
color: #26a69a !important;
}
.ant-btn-primary{
margin-left: 100px;
font-weight: bold;
height: 40px !important;
background: #26a69a !important;
border:1px solid #26a69a
}
.add-btn{
width: 96%;
margin-left: 12px !important;
}
.ant-form-item-control {
    width: 100% !important;
}
.ant-select-selection--single {
    height: 40px !important;
}
.ant-select-selection-selected-value{
    margin-top: 2px !important;
    font-size: 15px !important;
}
.anticon-plus{
    font-size: 20px;
    font-weight: bold;
}
.ant-upload{
    width: 100% !important;
}
.controller-icon {
    cursor: pointer;
    margin: 5px !important;
    color: #26a69a !important;
    font-size: 18px;
}

.ant-skeleton-content > ul{
    display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
        }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }

    .MUIDataTableToolbar-root-263{
        background-color:#25272e;
    }