nav .nav-wrapper {
  position: relative;
  height: 100%;
  margin-right: 5.0%;  
  background:#3497fd;
}

.tax{
  background-color: white;
  color: black;
  height: 30px;
  width: 100px;
}

nav .nav-wrapper-active {
  position: relative;
  height: 100%;
  margin-right: 20.0%;  
 
}

.dropdown-button{
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  margin-right: 20px;
}
nav ul a {
  height: 64px !important;
}
.dropdown-content{
  width: 24% !important;
  opacity: .9 !important;
  top: 64px !important;
  

}
.dropdown-content li, .dropdown-content li > a{
  height: 115px !important;

}

.notif{
 
  left: 900px !important;

}
.dropdown-content li>a, .dropdown-content li>span {
  line-height: 36px !important;
  padding: 14px 16px;
}

.hide-on-med-and-down{
  display: inline-block !important;
  margin-right: 2%;

}
@media screen and (max-width: 1010px){

  .hide-on-med-and-down{
    margin-right: 3%;
  }
  
}
@media screen and (max-width: 810px){

  .hide-on-med-and-down{
    margin-right: 6%;
  }
  
}
@media screen and (max-width: 610px){

  .hide-on-med-and-down{
    margin-right: 9%;
  }
  
}
@media screen and (max-width: 470px){
  .input-field{
      padding: 0;
      margin: 0;
  }
  .ref{
      display: none
  }
  .action{
      width: 40px;
  }
  .hide-on-med-and-down{
    margin-right: 12%;
  }
  
}
@media screen and (max-width: 570px){
  .menu-btn , .menu-btn:hover{
      margin-top: 68px !important;
      margin-left: 0px !important;
      background: #26a69a;
  }
  .hide-on-med-and-down{
    margin-right: 10%;
  }
  
}
.ant-list-item-meta{
  padding-left: 18px !important
}

.ant-dropdown-menu {
padding: 10px 0px !important;
margin-left: -280px !important;
min-width: 277px !important;
max-height: 515px !important;
overflow-y: scroll !important;
}
.ant-list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.ant-list-item :hover{
  cursor: pointer;
}
.ant-dropdown-menu-footer{
  text-align: center
}

span.badge {
  min-width: 1rem !important;
  padding: 0px 4px;
  margin-left: -3px !important;
  text-align: center;
  font-size: 11px;
  line-height: 22px !important;
  border-radius: 50% !important;
  height: 20px !important;
  color: #fff !important;
  float: right !important;
  box-sizing: border-box;
  margin-top: -50px !important;
  float: left !important;
  z-index: 3 !important;
  position: absolute;
  font-weight: 500;
  width: 20px !important;
}

.ant-list-item{
  margin-top: -22px !important;
}

.chat {
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
}

.chat-message {
  margin: 0 0 1em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background:#ffffff;
  position: relative;
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.1);
  max-width: 75%;
  clear: both;
  
}
  .them {
    float: left;
    color: black;
    font-weight: 700;
  }
    .them::after {
      content: "";
      position: absolute;
      left: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-right: 0.5em solid#ffffff;
      border-bottom-right-radius: 1em 0.5em;
      
    }
  
  
  .me {
    float: right;
    background-color: #f1f0f0;
    color: black;
    font-weight: 700;
    
  }
    .me::after {
      content: "";
      position: absolute;
      right: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-left: 0.5em solid #E6FFCF;
      border-bottom-left-radius: 1em 0.5em;
    }
  


    
    .chat-message .distext {
      visibility: hidden;
      display: none;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 106%;
    }
    .chat-message .distext::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent black;
    }
    .chat-message .distextright {
      visibility: hidden;
      display: none;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 106%;
    }
    
    .chat-message .distextright::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
    .chat-message:hover .distext {
      visibility: visible;
      display: inline;
    }
    .chat-message:hover .distextright {
      visibility: visible;
      display: inline;
    }

    .seen{
      font-size: 10px;
      margin: 6px;
      background: #52c41a;
      border-radius: 50%;
      color: #fff;
    }
    .image-upload{
      display: inline-block;
    }
    .image-upload > input {
        display: none;
    }

    .image-upload img{
        width: 35px;
        cursor: pointer;
        margin-top: 19px;
        margin-left: 5px;
    }

