.footer{
    width: 100%;
    height: 30px;
    margin-top: 100px !important;
    margin-bottom: 0px !important;
    background-color: #26a69a !important;
    color: #fff !important;
    text-align: center;
    font-size: 18px;
    visibility: hidden;
}
.footer span{
    color: #fff !important;
}